[submodule "components/data_driver"]
	path = components/data_driver
	url = https://github.com/opensk-dev/data-driver.git
[submodule "components/tests"]
	path = components/tests
	url = https://github.com/opensk-dev/opensk-tests.git
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
